.img_logo {
  width: 70px;
}
.nav-link {
  color: #000000;
  font-size: 20px;
}
.nav-link:hover {
  color: #00a04e;
}
.active {
  color: #00a04e !important;
}
.text_logo {
  color: #00a04e;
}
.title_logo {
  font-size: 5rem;
}
.bg-light {
  background-color: #fff !important;
}
.title_about {
  color: #323337;
  font-weight: bold;
  font-size: 3rem;
}
.imagen_nosotros {
  width: 200px;
}
.btn-success {
  --bs-btn-color: #fff;
  --bs-btn-bg: #00a04e;
  --bs-btn-border-color: #00a04e;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #157347;
  --bs-btn-hover-border-color: #00a04e;
  --bs-btn-focus-shadow-rgb: 60, 153, 110;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #00a04e;
  --bs-btn-active-border-color: #00a04e;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #198754;
  --bs-btn-disabled-border-color: #198754;
}
/* Sections */
.section_about {
  display: flex;
  align-items: center;
}
.section_services {
  display: flex;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../img/consult.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.section_contact {
  display: flex;
  align-items: center;
}
/* Fin de Sections */
.color_verde {
  color: #00a04e !important;
}
.title_services {
  color: #ffffff;
  font-weight: bold;
  font-size: 3rem;
}
.sub_title_services {
  color: #ffffff;
}
.p_services {
  color: #ffffff;
}
footer {
  background-color: #00a04e;
  color: #fff;
}
/*  BUTTON WSP
================== */
.btn_wsp {
  position: fixed; /*propiedad posicion fixed, siempre permanece en el mismo lugar*/
  width: 55px; /*ancho*/
  height: 55px; /*alto*/
  line-height: 55px; /*altura de un cuadro de linea */
  bottom: 33px; /*abajo 33 pixeles*/
  right: 30px; /*derecha 33 pixeles*/
  background: #0df053; /*color de fondo*/
  color: #fff; /*color de texto*/
  border-radius: 50px; /*borde redondeado*/
  text-align: center; /*texto centrado*/
  font-size: 30px; /*tamaño de texto*/
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3); /*sobreado*/
  z-index: 100; /*Orden o posicionamiento de un elemento*/
}
.btn_wsp:hover {
  background: #fff; /*color de fondo*/
  color: #0df053; /*color de texto*/
}
.card {
  background-color: transparent !important;
}

/* RESPONSIVE */
@media (min-width: 576px) {
}

@media (max-width: 576px) {
  .title_logo {
    font-size: 3rem;
  }
  .title_about {
    font-size: 2rem;
  }
}
@media (max-width: 768px) {
}
@media (max-width: 992px) {
}
